 .foyda {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }
  .ijod {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }
  .oyin {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }
  .raqam {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }
  .olam {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }
  .fikr {
    background: linear-gradient(135deg, #fdfcff, #f3f9ff, #e9f4ff);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }